@import url('./base.css');
@import url('./header.css');
@import url('./footer.css');

main nav {
    display: none;
}

main h2{
    width: 70%;
    margin: 0 auto;
}

.container{
    width: 80%;
    margin-top: 2rem;
}

section section{
    padding: .5rem;
}

@media (min-width: 1140px) {
    main nav {
        display: block;
    }
}