@import url('./base.css');
@import url('./header.css');
@import url('./footer.css');

.book-detail-container {
    display: flex;
    flex-direction: column;
    width: 90%;
    margin: 1rem auto;
    gap: 1rem;
}

.book-image {
    width: 100%;
    max-width: 300px;
    margin: 0 auto;
}

.book-image img {
    width: 100%;
    height: auto;
    border: 1px solid var(--primary-color);
    padding: 10px;
    background: var(--secondary-color);
}

.book-info {
    display: flex;
    flex-direction: column;
}

.book-info h1 {
    font-size: 1.5rem;
    margin-bottom: 0.5rem;
}

.book-info p {
    margin: 0.3rem 0;
}

#precio-unitario{
  display: none;
}

.book-price {
    font-size: 1.5rem;
    margin: 1rem 0;
}

fieldset {
    margin: 1rem 0;
    border: 1px solid #ccc;
    padding: 0.5rem;
}

label, input[type="number"], button {
    margin-top: 0.5rem;
}

input[type="number"] {
    width: 60px;
    padding: 5px;
}

button {
    padding: 0.5rem 1rem;
    cursor: pointer;
}

.book-extra-info, .book-synopsis {
    margin-top: 2rem;
}

.book-extra-info h2,
.book-synopsis h2 {
    border-bottom: 2px solid #eee;
    padding-bottom: 0.5rem;
}

.quantity-selector {
    display: flex;
    align-items: center;
    gap: 10px;
    margin-top: 0.5rem;
}

.quantity-selector button {
    background-color: var(--primary-color);
    border: none;
    border-radius: .5rem;
    font-size: 1.2rem;
    cursor: pointer;
    transition: background-color 0.3s ease;
    margin: 0;
    width: 2.5rem;
    padding: .5rem 1rem;
}

.quantity-selector button:hover {
    background-color: var(--secondary-color);
}

#cantidad-display {
    min-width: 1rem;
    text-align: center;
    font-size: 1.2rem;
}


@media screen and (min-width: 768px) {
    .book-detail-container {
        display: grid;
        grid-template-columns: 1fr 2fr;
        gap: 1.5rem;
        width: 70%;
        margin: 2rem auto;
    }

    .book-image {
        max-width: 400px;
        margin: 0;
    }

    .book-info h1 {
        font-size: 2rem;
    }

    .book-price {
        font-size: 1.8rem;
    }

    .book-extra-info, .book-synopsis {
        grid-column: 1 / -1;
    }
}
