@import url('./base.css');
@import url('./header.css');
@import url('./footer.css');

main :not(h2) {
    display: grid;
}

nav[aria-label="breadcrumb"] {
    width: 70%;
    margin: 0 auto;
    margin-bottom: 20px;
}

main h2 {
    width: 70%;
    margin: 0 auto;
    margin-bottom: 20px;
}


.form-content{
  background: var(--background-contents);
  display: flex;
  flex-direction: column;
  border: 1px solid var(--primary-color);
  border-style: solid;
  border-radius: 0.5rem;
  padding-right: 25px;
  padding-left: 25px;
  width: 70%;
  margin: 0 auto;
  gap: 20px;
}

.form-content label {
  font-weight: bold;
}

.form-content input, select {
  height: 2rem;
  margin-bottom: 1rem;
  border-radius: 5rem;
  width: 100%;
  padding-left: 1rem;
}

.form-content textarea {
  margin-bottom: 1rem;
  padding-right: 1rem;
  border-radius: 0.5rem;
}

  
.accept-button {
  align-items: center;
  gap:1rem;
  margin-top: 2rem;
  background-color: var(--primary-color);
  color: #fff;
  border:1px solid #fff;
  padding:1rem 2rem;
  border-radius:28px;
  font-size: 2rem;
  cursor: pointer;
  margin:2rem auto 1rem auto;
  max-width: 60%;
  width: 40%;
}

.isbn-input{
  display: flex;
  align-items: baseline;
  gap: 1rem;
}

.isbn-button{

  margin-top: 2rem;
  padding: 0.5rem 0.5rem;

}
.error-message {
  color: #c00;
  font-size: 0.9em;
  margin-top: 4px;
  margin-bottom: 1rem;
  font-weight: bold;
}


.hidden {
  display: none !important;
}
.loader {
  width: 48px;
  height: 48px;
  border: 5px solid #FFF;
  border-bottom-color: var(--primary-color);
  border-radius: 100%;
  display: inline-block;
  box-sizing: border-box;
  animation: rotation 1s linear infinite;
  justify-self: center;
  }

  

  @keyframes rotation {
  0% {
      transform: rotate(0deg);
  }
  100% {
      transform: rotate(360deg);
  }
  } 

  @media (max-width: 1024px) {
    .form-content{
      width: 90%;
    }

    .accept-button{
      width: 50%;
    }
 }

  @media (max-width: 840px) {
    nav[aria-label="breadcrumb"] {
      visibility:hidden;
      height: 1px;
    }

    .accept-button{
      width: 70%;
    }
 }
