@import url("./base.css");
@import url("./header.css");
@import url("./footer.css");

form span {
  display: flex;
  gap: 5rem;
}

form .role-label {
  width: 5rem;
}

form .role-label input {
  width: 5rem;
}

.role-label input[type="radio"] {
  display: none;
}

.custom-radio {
  display: inline-block;
  width: 2rem;
  height: 2rem;
  border: 0.2rem solid var(--primary-color);
  border-radius: 50%;
  margin-left: 0.5rem;
  position: relative;
  vertical-align: middle;
  cursor: pointer;
  transition: all 0.2s ease;
}

.role-label input[type="radio"]:checked + .custom-radio {
  border-color: var(--secondary-color);
  background-color: var(--secondary-color);
}

.register-container form .icon-password {
  display: block;
  top: 64%;
}

.register-container form .icon-confirm-password {
  display: block;
  top: 82.5%;
}

.error-messages .error-text {
  color: red;
  margin-bottom: 0.5rem;
}

.success-messages .error-text {
  color: green;
  margin-bottom: 0.5rem;
}
