@import url('./base.css');
@import url('./header.css');
@import url("./carousel.css");
@import url("./carousel.css");
@import url('./footer.css');

.carousel-section {
  margin: 2rem 0;
}

.carousel-section h2 {
  text-align: center;
}

.carousel-wrapper {
  position: relative;
  overflow: hidden;
}

.books-carousel,
.books-carousel-best-sales {
  margin: 0 2rem;
  display: flex;
  gap: 1rem;
  scroll-behavior: smooth;
  overflow-x: auto;
  scroll-snap-type: x mandatory;
  scrollbar-width: none;        
  -ms-overflow-style: none;  
}

.books-carousel::-webkit-scrollbar,
.books-carousel-best-sales::-webkit-scrollbar {
  display: none;
}

.books-carousel::-webkit-scrollbar-track,
.books-carousel-best-sales::-webkit-scrollbar-track {
  background: var(--contrast-text-color);
  border-radius: .5rem;
}

.books-carousel::-webkit-scrollbar-thumb,
.books-carousel-best-sales::-webkit-scrollbar-thumb {
  background-color: var(--background-contents); 
  border-radius: .5rem;
  border: 2px solid var(--contrast-text-color);
}

.books-carousel::-webkit-scrollbar-thumb:hover,
.books-carousel-best-sales::-webkit-scrollbar-thumb:hover {
  background-color: var(--primary-color);
}

.books-carousel .book {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.books-carousel-best-sales .book {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.book-card {
  flex: 0 0 calc((100% - 4rem) / 5);
  background-color: var(--background-contents);
  border-radius: .2rem;
}

.books-carousel .book,
.books-carousel-best-sales .book {
  scroll-snap-align: start;
}

.book figure {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0;
}

.carousel-wrapper button:hover{
  border: .2rem solid var(--contrast-text-color);
}

.book img {
  object-fit: cover;
  width: 16rem;
  height: 26rem;
}

.book img:hover {
  animation: zoomIn 0.8s;
}

@keyframes zoomIn {
  from {
    transform: scale(1.2);
    opacity: 0;
  }

  to {
    transform: scale(1);
    opacity: 1;
  }
}

.book img:hover {
  border: .2rem solid var(--primary-color);
  border-radius: .5rem;
}


.book-card__footer {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.nav {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  background-color: var(--primary-color);
  color: white;
  border: none;
  padding: 1rem;
  cursor: pointer;
  z-index: 2;
  font-size: 1.5rem;
}

.nav.prev,
.nav.prev-best-sales {
  left: .2rem;
  opacity: .7;
}

.nav.next,
.nav.next-best-sales {
  right: .2rem;
  opacity: .7;
}

.nav.next, .nav.prev, .nav.next-best-sales, .nav.prev-best-sales{
  display: none;
}

.carousel-wrapper {
  position: relative;
}

.carousel-wrapper::after {
  content: "";
  position: absolute;
  top: 0;
  right: 2rem;
  width: 3rem;
  height: 100%;
  pointer-events: none;
  background: linear-gradient(to left, var(--background-contents), transparent);
}


@media screen and (max-width: 900px) {
  .carousel-thumbnails{
    display: none;
  }
  .carousel-images img{
    height: 100vh;
    object-fit: fill;
  }

  #first-banner, #second-banner{
    height: 100vh;
  }

  .carousel-button{
    display: none;
  }

 

}