@import url('./base.css');
@import url('./header.css');
@import url('./footer.css');

#email, #password{
    padding-left: 1rem;
}

.error-messages .error-text {
  color: red;
  margin-bottom: .5rem;
}

.password-wrapper {
    position: relative;
    display: flex;
    align-items: center;
}

.password-wrapper input {
    width: 100%;
    padding-right: 2.5rem;
}

.password-wrapper button {
    position: absolute;
    right: 0.5rem;
    background: none;
    border: none;
    padding: 0;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
}
