@import url('./base.css');
@import url('./header.css');
@import url('./footer.css');

.cart-container{
    display: flex;
    justify-content: space-between;
    max-width: 70%;
    margin: 2rem auto;
    padding: 1rem;
    gap: 2rem;
}

.cart {
    flex: 1;
    background-color: var(--background-contents);
    padding: 1.5rem;
    border-radius: 28px;
}

.cart h2{
  text-align: center;
}

.cart-item {
    display: flex;
    align-items: stretch;
    background-color: var(--background-color);
    margin-bottom: 1rem;
    padding: 0.75rem;
    gap: 1rem;
    border-radius: inherit;
}


.cart-item img {
    border-radius: 28px;
    width: 13rem;
}



.cart-item-content {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    flex: 1;
  }

.cart-item-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

.cart-item-header h3 {
    margin: 0;
    color: var(--text-color);
}
  
  
.cart-controls {
    display: flex;
    justify-content: space-between;
}

.cart-controls p {
    margin: 0;
}
  
  .cart-quantity {
    width: 10%;
    padding: 0.25rem;
    border: 1px solid #aaa;
    text-align: center;
  }

.cart-remove-btn {
    background: none;
    border: none;
    padding: 0;
    cursor: pointer;
}
  
.cart-remove-btn img {
    width: 24px;
    height: 24px;
    object-fit: contain;
}

.total {
    font-weight: bold;
    font-size: 2rem;
    text-align: center;
    border-top: 2px solid #ccc;
    margin-top: 1rem;
    padding-top: 1rem;
}

.checkout-button {
    display: flex;
    flex-direction: column;
    background-color:  var(--primary-color);
    font-size: 2rem;
    cursor: pointer;
    margin: 2rem auto 1rem auto;
    width: 50%;
}


@media screen  and (max-width: 1530px) {
  .checkout-button{
    width: 60%;
  }

  .cart-quantity{
    width: 15%;
  }
  
}

@media screen and (max-width: 1290px){
  .checkout-button{
    width: 80%;
  }
  .cart-container {
    max-width: 90%;
}
}


@media screen and (max-width: 1024px) {
    .cart-container {
        max-width: 100%;
    }

    .cart-item-header{
      font-size: 2rem;
    }
    

}

@media screen and (max-width: 600px) {

    .cart{
      padding: 0;
    }
    .cart-item {
      flex-direction: column;
      align-items: center;
    }

    .cart-item img {
      width: 100%;
      margin-bottom: 1rem;
    }

    .cart-item-content {
      width: 100%;
    }

    .cart-controls {
      width: 100%;
      justify-content: space-between;
      margin-top: 1rem;
    }

    .cart-quantity {
      margin-left: 0;
    }
    .checkout-button{
      width: 95%;
    }

    .cart-container{
      padding: 0;
    }
}
