@import url('./reset.css');
@import url('https://fonts.googleapis.com/css2?family=Archivo+Black&family=Roboto:wght@300;400;500;700&display=swap');

:root {
    --primary-color: #843DA1;
    --secondary-color: hsl(279, 43%, 64%);
    --background-color: #ffffff;
    --text-color : #000000;
    --link-color: #000000;
    --muted-text-color: #000000;
    --background-contents: #B46BF2; /* Para contenido como forms, sections*/
    --buttons-color: #5C068C; /* Para el color de botones*/
    --buttons-text-color: #ffffff;
}

/* Estilos básicos generales */
html {
    font-size: 16px;
    box-sizing: border-box;
    scroll-behavior: smooth;
}

*, *::before, *::after {
    box-sizing: inherit;
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Roboto', sans-serif;
    color: var(--text-color);
    background-color: var(--background-color);
    line-height: 1.6;
}

h1, h2, h3, h4, h5, h6 {
    font-family: 'Archivo Black', sans-serif;
    color: var(--text-color);
    margin-bottom: 0.5rem;
}

p {
    margin-bottom: 1rem;
}

a {
    color: var(--text-color);
    text-decoration: none;
    transition: color 0.3s ease;
}

a:hover {
    color: var(--secondary-color);
}

button {
    font-family: inherit;
    background-color: var(--buttons-color);
    color: var(--buttons-text-color);
    padding: 0.75rem 1.5rem;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

button:hover {
    background-color: var(--secondary-color);
}

input{
    border-radius: .5rem;
}
