@import url('./reset.css');
@import url('https://fonts.googleapis.com/css2?family=Archivo+Black&family=Roboto:wght@300;400;500;700&display=swap');

:root {
    --primary-color: #843DA1;
    --secondary-color: hsl(279, 43%, 64%);
    --background-color: #ffffff;
    --text-color : #000000;
    --link-color: #000000;
    --muted-text-color: #000000;
    --background-contents: #B46BF2; /* Para contenido como forms, sections*/
    --buttons-color: #5C068C; /* Para el color de botones*/
    --buttons-text-color: #ffffff;
}

/* Estilos básicos generales */
html {
    font-size: 16px;
    box-sizing: border-box;
    scroll-behavior: smooth;
}

*, *::before, *::after {
    box-sizing: inherit;
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Roboto', sans-serif;
    color: var(--text-color);
    background-color: var(--background-color);
    line-height: 1.6;
}

h1, h2, h3, h4, h5, h6 {
    font-family: 'Archivo Black', sans-serif;
    color: var(--text-color);
    margin-bottom: 0.5rem;
}

p {
    margin-bottom: 1rem;
}

a {
    color: var(--text-color);
    text-decoration: none;
    transition: color 0.3s ease;
}

a:hover {
    color: var(--secondary-color);
}

button {
    font-family: inherit;
    background-color: var(--buttons-color);
    color: var(--buttons-text-color);
    padding: 0.75rem 1.5rem;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

button:hover {
    background-color: var(--secondary-color);
}

input{
    border-radius: .5rem;
}


main {
    margin-top: 3rem;
}

main nav {
    display: none;
}

.container {
    background-color: var(--background-contents);
    width: 20rem;
    margin: 5rem auto 0;
    text-align: center;
    border-radius: 1rem;
}

.container h1 {
    display: inline-block;
    color: var(--text-color);
    text-align: center;
}

.container form {
    width: inherit;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
}

.container form label {
    font-weight: bold;
    align-self: flex-start;
    margin-left: 1.5rem;
}

.container form input {
    width: 18rem;
    height: 3rem;
    margin-bottom: 1rem;
    padding-right: 3rem;
}

.container form button {
    width: 10rem;
}

.container form input::placeholder {
    padding: 0 1rem;
}

.container p {
    margin-top: 1rem;
}

.container p a {
    display: block;
    text-decoration: underline;
    font-weight: bold;
    margin-top: 0.3rem;
    color: var(--link-color);
}

.icon {
    width: 2rem;
}
.icon-forms {
    position: absolute;
    right: 1.5rem;
    top: 50%;
    transform: translateY(-50%);
    height: auto;
    cursor: pointer;
    width: 2rem;
}

