@import url('./base.css');
@import url('./header.css');
@import url('./footer.css');

.cart-container{
    display: flex;
    justify-content: space-between;
    max-width: 40%;
    margin: 2rem auto;
    padding: 1rem;
    gap: 2rem;
}

.cart {
    flex: 1;
    background-color: var(--background-contents);
    padding: 1.5rem;
    border-radius: 28px;
}

.cart-item {
    display: flex;
    align-items: flex-start;
    background-color: var(--background-color);
    margin-bottom: 1rem;
    padding: 0.75rem;
    gap: 1rem;

}


.cart-item img {
    width: 100%;
    height: 80%;
    object-fit: cover;
    border-radius: 8px;
}

.cart-item-content {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 100%;
  }

.cart-item-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

.cart-item-header h3 {
    margin: 0;
    color: var(--text-color);
}
  
  
.cart-controls {
    display: flex;
    align-items: center;
    gap: 1rem;
    margin-top: 30%;
}

.cart-controls p {
    margin: 0;
    margin-left: auto;
    display: flex;
    align-items: center;
    height: 100%;
}
  
  .cart-quantity {
    width: 50px;
    padding: 0.25rem;
    border-radius: 5px;
    border: 1px solid #aaa;
    text-align: center;
  }

.cart-remove-btn {
    background: none;
    border: none;
    padding: 0;
    cursor: pointer;
}
  
.cart-remove-btn img {
    width: 20px;
    height: 20px;
}

.total {
    font-weight: bold;
    font-size: 1rem;
    text-align: center;
    border-top: 2px solid #ccc;
    margin-top: 1rem;
    padding-top: 1rem;
}

.checkout-button {
    display: flex;
    flex-direction: column;
    align-items:center;
    gap: 1rem;
    margin-top:2rem;
    background-color:  var(--primary-color);
    color: #fff;
    border: 1px solid #fff;
    padding: 1rem 2rem;
    border-radius: 28px;
    font-size: 1rem;
    cursor: pointer;
    margin: 2rem auto 1rem auto;
    max-width: 60%;
}

.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    padding: 0;
    margin: -1px;
    overflow: hidden;
    clip: rect(0, 0, 0, 0);
    white-space: nowrap;
    border: 0;
}

@media screen and (max-width: 1024px) {
    .cart-container {
        max-width: 80%;
    }
    

}

